/* client/src/App.css */
.App {
  max-width: 800px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  background-color: #333;
  border: none;
  color: #eee;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #555;
}