.error {
  color: #ff6666;
}

.filter {
  display: flex;
  justify-content: center; /* wyśrodkowanie przycisków */
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.filter button {
  position: relative;
  background: transparent;
  color: #8e44ad;
  padding: 0.4em 0.8em; /* mniejsze wcięcia */
  min-width: 120px; /* mniejsza szerokość */
  border: 2px solid #8e44ad;
  border-radius: 4px; /* drobniejsze zaokrąglenie */
  font-size: 0.9rem; /* nieco mniejsza czcionka */
  overflow: hidden;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

.filter a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #8e44ad;
  padding: 0.4em 0.8em;
  min-width: 120px;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
}

.filter a:hover {
  background: #8e44ad;
  color: #fff;
}

.filter button:hover {
  background: #8e44ad;
  color: #fff;
}

.active {
  background: #555;
}