/* SearchBar.module.css */
.searchForm {
  margin-bottom: 1rem;
  display: flex;
}

.searchInput {
  padding: 0.5rem;
  width: 300px;
  border: 1px solid #555;
  border-radius: 4px 0 0 4px;
  outline: none;
  background: #222;
  color: #eee;
}


.searchButton {
  padding: 0.5rem 1rem;
  border: 1px solid #555;
  background: #333;
  color: #eee;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background 0.2s;
}

.searchButton:hover {
  background: #555;
}